Makefile.am
makeit
buildit
configure.ac
*.swp
aclocal.m4
config.h
config.sub
Makefile
stamp-h1
autom4te.cache
config.h.in
configure
install-sh
config.log
configure.ac
libtool
Makefile.in
missing
config.guess
config.status
depcomp
ltmain.sh
.deps
assignment2
assignment2-MinimalOgre.o
Ogre.log
plugins.cfg
resources.cfg
media
ogre.cfg
