*.swp
*.o
aclocal.m4
config.h
config.sub
Makefile
stamp-h1
autom4te.cache
config.h.in
configure
install-sh
config.log
libtool
Makefile.in
missing
config.guess
config.status
depcomp
ltmain.sh
.deps
assignment2
Ogre.log
ogre.cfg
